<h1>{{ form.get('id').value ? 'Edycja pilota' : 'Dodawanie pilota' }}</h1>
<div class="control-group">
    <label class="control-label">Podgląd:</label>
    <img [src]="form.get('imageUrl').value" />
</div>

<form [formGroup]="form" (ngSubmit)="save()">
    <div class="control-group">
        <label class="control-label">Imię:</label>
        <input type="text" formControlName="firstName" />
        <!-- dla lastName -->
        <span
            *ngIf="
                form.get('firstName').hasError('required') &&
                form.get('firstName').touched
            "
            class="error"
        >
            podaj wartość
        </span>
    </div>

    <div class="control-group">
        <label class="control-label">Nazwisko:</label>
        <input type="text" formControlName="lastName" />
        <!-- dla lastName -->
        <span
            *ngIf="form.get('lastName').hasError('pilotForbidden')"
            class="error"
        >
            zakazane nazwisko
        </span>
    </div>

    <div class="control-group">
        <label class="control-label">Avatar URL:</label>
        <input type="text" formControlName="imageUrl" />
    </div>

    <!-- -->
    <button type="submit" [disabled]="form.invalid">Zapisz</button>
</form>

<button type="button" routerLink="../..">Anuluj</button>
